version: '3'

services:
  nfs-server:
    image: itsthenetwork/nfs-server-alpine:12
    privileged: true
    restart: always
    volumes:
      - ${QLIB_DATA}:/nfsshare
    environment:
      - SHARED_DIRECTORY=/nfsshare
    ports:
      - "2049:2049"
  rabbitmq:
    image: rabbitmq:3.7.27-rc.1-management-alpine
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
  redis:
    image: redis:alpine3.12
    restart: always
    ports:
      - ${EXPORT_REDIS_PORT}:6379
  qlib-server:
    build: 
      context: ../
      dockerfile: ./docker_support/Dockerfile
      args:
        - QUEUE_HOST=rabbitmq
        - REDIS_HOST=redis
        - QUEUE_USER=${RABBITMQ_DEFAULT_USER}
        - QUEUE_PASS=${RABBITMQ_DEFAULT_PASS}
        - QLIB_DATA=${QLIB_DATA}
        - FLASK_SERVER_HOST=${FLASK_SERVER_HOST}
        - QLIB_CODE=${QLIB_CODE}
        - REDIS_DB=${REDIS_DB}
        - REDIS_PORT=6379
    volumes:
      - ${QLIB_DATA}:${QLIB_DATA}
    depends_on:
      - redis
      - rabbitmq
      - nfs-server
    restart: always
    ports:
      - ${QLIB_SERVER_PORT}:9710
    command: ["./wait-for-it/wait-for-it.sh", rabbitmq:15672, "--", "python", "main.py", "-c", "config_template.yaml"]

